<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dialog" >  
	
    <head>
    	<meta charset="utf-8"></meta>
        <title>剧目票价</title>
    </head>  
    <body style="text-align:center;" >
		<div layout:fragment="content" >
    		<div style="margin-top: 20px; text-align:left;">
			     <form id="subForm" action="/playPrice/save" method="post" class="form-horizontal">
			     	<input id="id" name="id" type="hidden"  th:value="${entity}?${entity.id}:''"  />
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>剧目票价Id:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="priceId" name="priceId"  
							     th:value="${entity}?${entity.priceId}:''" 
							      datatype="*" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>原价:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="originalPrice" name="originalPrice"   
							     th:value="${entity}?${entity.originalPrice}:''" 
							      datatype="d" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>政府补贴金额:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="discountPrice" name="discountPrice"   
							     th:value="${entity}?${entity.discountPrice}:''" 
							      datatype="d" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>售价:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="salePrice" name="salePrice"   
							     th:value="${entity}?${entity.salePrice}:''" 
							      datatype="d" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>票价简述:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="saleDesc" name="saleDesc"   
							     th:value="${entity}?${entity.saleDesc}:''" 
							      type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>可获得积分数:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="getScore" name="getScore"  
							     th:value="${entity}?${entity.getScore}:''" 
							      datatype="n" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>创建人:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="createUser" name="createUser"  
							     th:value="${entity}?${entity.createUser}:''" 
							      datatype="n" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>创建时间:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			style="width: 150px"
				     			 id="createTime" name="createTime"  
 datatype="*" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>最后修改人:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="lastModifyUser" name="lastModifyUser"   
							     th:value="${entity}?${entity.lastModifyUser}:''" 
							      datatype="n" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>最后修改时间:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			style="width: 150px"
				     			 id="lastModifyTime" name="lastModifyTime"   
 type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
			     	 <div class="cl mb5 addhy">
			     		<p>
			     			<label><i class="f-red">* </i>绑定的228票价ID:</label>
			     			<span>
				     			<input class="w200 c_required c_maxlength_32"
				     			id="bindYlid" name="bindYlid"   
							     th:value="${entity}?${entity.bindYlid}:''" 
							      datatype="n" type='text'  placeholder="请输入" />
			     			</span>
			     		</p>
			     	 </div>
		    	</form>
			</div>
		</div>
		    <!-- 脚本区域（弹框、脚本） -->
			<div layout:fragment="javascript">
			    <script type="text/javascript">
			  	//<![CDATA[
			    	//重复提交
			   		var repeat =  true ;
			    	function subForm(parentWin){
			    		if (!repeat){
			    			return ;
			    		}
			    		$frm = $("#subForm");
					    var validateWidget = $frm.validate();
			    		//1.启用表单验证。
			    		if (!validateWidget.check()) {//1.基础样式校验。
			    			repeat=true; 
			    			return false;
			    		}
			    		repeat = false;
			    		//提交表单
		        		$frm.ajaxSubmit({success: function(entry, statusText, xhr, $form){
		        			
		        			if(entry.code=="success"){
		        				$(parentWin).find("#searchForm").submit();
		        			}
		        			
	        				repeat=true; 
	        				
		        			layer.msg(entry.message,{time: 2000} ,function (){
		        			}); 
						}});
			    	}
			    //]]>
			    </script>
		    </div>
		    
	</body>
	
	
</html>