<!-- 公共 -->
<div th:fragment="base">
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/aui.min.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/validate.default.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ylpay.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins/treeview/jquery.tree.css}"></link>
    <script th:src="@{/js/plugins/jquery/jquery-1.7.min.js}"></script>
    <script th:src="@{/js/plugins/validate/jquery.form.js}"></script>
    <script th:src="@{/js/plugins/validate/validate.js}"></script>
    <script th:src="@{/js/plugins/treeview/jquery.tree.js}"></script>
    <script th:src="@{/js/plugins/layer/layer.js}"></script>
</div>